

  
  body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #F7C59F;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .resultsColumn {
    width: 800px;
    text-align: center;
    margin: auto;
  }

  .group{
    display: flex;
    flex-direction: Column;
    margin-bottom: auto;
    text-align: center;
  }
  
  
  .item{
    flex: 1;
    margin: auto;
    display: block;
    text-align:center;
    width: 80%;
  }

  
  .error-message {
      color: #FF6B35;
  }
  
  .hidden {
    display: none;
  }

  .wordwrap { 
    overflow-wrap: break-word;
 }

  ul {
    background: #004E89;
    padding: 35px;
    border-radius: 25px;
    list-style-type: none;
  }

  ul li {
  background: #1a659E;
  border-radius: 25px;
  padding: 25px;
  margin-bottom: 10px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #EFEFD0;
  border: none;
  font-weight: bold;
  font-size: 25px;
  color: #FF6B35;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #1a659E;
}

input[type=text] {
  background-color: #EFEFD0;
  color: #1A659E;
  border-radius: 10px
}

label {
  color: #1a659E;
}
p {
  color: #F7C59F;
}

form p {
  color: #004E89;
}
h1 {
  color: #FF6B35;
}

h2 {
  color: #004E89;
  text-shadow: 2px 2px 5px #1a659E;
}

h3 {
  color: #FF6B35;
}

h4 {
  color: #F7C59F;
}

a:link {
  color: #FF6B35
}

a:visited{
  color: #EFEFD0
}

a:hover {
  color: #F7C59F
}

a:active {
  color: #004E89
}

  @media all and (min-width: 1300px) {
    .group{
      display: flex;
      flex-direction: row;
      margin-bottom: 50px;
    }
    
    
    .item{
      flex: 1;
      margin: 10px;
    }

    .resultsColumn {
      width: 400px;
    }
  
  }
